<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright© 2017 by Marcin Wielgus - All Rights Reserved
  ~  Unauthorized copying of this file, via any medium is strictly prohibited
  ~  Proprietary and confidential
  ~  Written by Marcin Wielgus <mwielgus@outlook.com>, 2017-09-14 21:19
  ~
  -->

<configuration
        xmlns="http://ch.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5.5level[%-45.45thread][%-45.45logger{1}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="akka" level="DEBUG"/>
    <logger name="org.s4s0l" level="DEBUG"/>
    <logger name="com.ravenetics" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
